/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    min-width: 1200px;
}

ul {
    list-style-type: none;
}

header a,
.button-blue a,
.button-white a {
    color: inherit;
    text-decoration: none;
}

/* VAIABLES */
:root {
    --jumbotron-backgroundcolor: #B4D0E7;
    --section5-backgroundcolor: #F5F5F5;
    --section6-title-color: #61082B;
    --nav-bar-txtcolor: #828282;
    --frequent-question-txtcolor: #414141;
    --button-color: #4185F4;
    --designit-b-color: #A2D39B;
    --designit-bor-color: #D1E9CD;
    --asu-b-color: #61092A;
    --wbr-b-color: #D50020;
    --hearstcorp-b-color: #B4D0E7;
    --uniflorida-b-color: #1693CE;
    --topps-b-color: #F81D1E;
    --lonelyplanet-b-color: #0E2481;
    --ccout-b-color: #FFD82F;
}

/* Layout */
.pt-2 {
    padding-top: 2rem;
}

.button-blue div{
    background-color: var(--button-color);
    padding: 10px 15px;
    color: white;
    text-align: center;
}
.button-blue span{
    background-color: var(--button-color);
    padding: 10px 15px;
    color: white;
    text-align: center;
}
.button-blue {
    margin: 3rem 0;
}

.button-white {
    margin: 3rem 0;
}

.button-white span {
    background-color: white;
    padding: 10px 15px;
    border: 1px solid black;
}

/* common */
.container {
    padding: 100px 0;
}
.row {
    display: flex;
}

.space-btw {
    justify-content: space-between;
}

.small-button span {
    padding: 8px 15px;
    color: white;
    background-color: var(--button-color);
    width: 100%;
}
h3 {
    font-size: 1.5rem;
    font-weight: 700;
    padding-bottom: 1rem;
}

h4 {
    font-weight: 600;
}
.fw-600 {
    font-weight: 600;
}
/* HEADER */

.nav-bar {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: fixed;
    z-index: 999;
    box-shadow: #414141 1px 1px 1px;
}

/* left-side */
.navigation {
    display: flex;
    align-items: center;
}

.logo {
    margin: 0 25px;
}

.navigation ul {
    display: flex;

}
.left li {
    margin: 0 15px;
    font-size: 1.1rem;
    color: var(--nav-bar-txtcolor);
    line-height: 80px;
}

/* right-side */
.small-button {
    margin: 0 20px;
}

.right li {
    margin: 0 15px;
    font-size: 1.1rem;
    color: var(--nav-bar-txtcolor);
    line-height: 80px;
}

/* Jumbotron */

.jumbotron {
    background-color: var(--jumbotron-backgroundcolor);
    padding-top: 200px;
    margin-bottom: -60px;
}

.jumbo-container {
    width: 65%;
    margin: 0 auto;
}

.title {
    font-size: 2.5rem;
    padding: 1rem 0;
}

.jumbo-30 {
    width: 30%;
    padding-bottom: 1rem;
    position: relative;
}

.arrow {
    font-size: 4rem;
    position: absolute;
    bottom: 4rem;
    left: 0;
}

.jumbo-70 {
    width: 70%;
}
.jumbotron img {
    max-width: 100%;
}
/* /HEADER */

/* MAIN */
main {
    background-color: white;
    font-weight: 100;
}
main .container {
    width: 55%;
    margin: 0 auto;
    /* debug */
    /* border: 1px solid black; */
}

/* Plan-selection */

/* plan-selection-title */
.section-title h2{
    font-size: 2.5rem;
    padding: 3rem 0;
}

.plan-selection input {
    transform: scale(1.3);
    margin-bottom: 3rem;
}

.plan-selection label {
    padding-right: 2rem;
}

/* /plan-selection-title */

/* plan-selection-option */
.plan-selection .row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* debug */  
    /* border: 3px solid lightgreen; */
}

.plan-selection .col {
    width: calc(100% / 3 - 30px);
    /* debug */
    border: 1px solid lightgrey;
}

.col-heading {
    border-bottom: 1px solid lightgrey;
    padding: 10px;
    text-align: center;
}

.col-main {
    padding: 2rem;
}

.col-main .price {
    font-weight: 600;
}
.price::before {
    content: "\20AC"
}

.price-info {
    padding: .5rem 0;
}

.plan-info {
    padding: 2rem 0;
}

.plan-info li {
    padding: .8rem 0;
}

.n-user {
    list-style-position: inside;
    list-style-image: url(../img/iconsFA/user-solid.svg);
}
.space {
    list-style-image: url(../img/iconsFA/folder-solid.svg);
    list-style-position: inside;
}
.share-info {
    list-style-image: url(../img/iconsFA/share-nodes-solid.svg);
    list-style-position: inside;
}

.buy-now span {
    padding-bottom: 2rem;
    border-bottom: 1px solid lightgrey;
}

.hot-info {
    padding-top: 4rem;
}

.hot-info li:not(:first-child) {
    margin-left: 1rem;
}
.hot-info li:not(:first-child) {
    list-style-image: url(../img/iconsFA/check-solid.svg);
    list-style-position: out;
    padding: .8rem 0;
}
/* /Plan-selection */

/* Sales-office-contact */
.sales-office-contact {
    margin-top: 40px;
    border: 1px solid lightgrey
}

.section-name {
    text-align: center;
}

.sales-office-contact .section-content {
    display: flex;
}

.content-left {
    width: 70%;
    padding: 2rem;
}
.content-right {
    width: 30%;
    padding: 0 2rem;
}
/* /Sales-office-contact */

/* Partner section */
.partner-section {
    margin: 140px 0;
    display: flex;
}

.partner-section .img {
    width: 60%;
}
.img img {
    max-width: 100%;
    display: block;
}

.partner-section .section-content {
    width: 40%;
    padding: 3rem ;
}
/* /Partner section */

/* Product-description section */

.product-description {
    margin: 100px 0;
}

.product-description .section-title {
    width: 100%;
}

.product-description .option {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.product-description .col {
    width: calc(100% / 3);
    padding: 1rem;
    /* debug */
    height: calc(100% / 2 - 10px);
}

.option .col img {
    max-width: 100%;
}
/* /Product-description section */

/* Review */
.customer-review {
    margin: 40px 0;
}
/* /Review */

/* Members */
.members {
    width: 100%;
    /* debug */
    border: 3px solid black;
}

.memb-view {
    height: 600px;
    display: flex;
}

.middle {
    width: calc(100% / 3);
    padding: 3rem;
    overflow-y: scroll;
    /* height: 100%; */
}

.middle img {
    width: 50%;
}

.hr-short {
    border-bottom: 1px solid lightgrey;
    width: 30%;
    margin: 2rem 0;
}

.cit {
    margin: 3rem 0;
}

.side {
    width: calc(100% / 3);
    display: flex;
    flex-wrap: wrap;
}

.square {
    width: calc(100% /  2 );
    height: 50%;
    text-align: center;
}

.designit {
    background-color: var(--designit-b-color) ;
    border: 15px solid var(--designit-bor-color);
}

.asu {
    background-color: var(--asu-b-color);
}

.uniflo {
    background-color: var(--uniflorida-b-color);
}

.topps {
    background-color: var(--topps-b-color);
}

.wbr {
    background-color: var(--wbr-b-color);
}

.hearst {
    background-color: var(--hearstcorp-b-color)
}

.lonelyp {
    background-color: var(--lonelyplanet-b-color);
}

.ccout {
    background-color: var(--ccout-b-color);
}
.square img {
    max-width: 50%;
    height: 100%;
    vertical-align: middle;
    filter: invert(1) ;
}
.try-section {
    width: 100%;
    margin: 0 auto;
    /* debug */
    background-color: var(--jumbotron-backgroundcolor);
}

.try-section .container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.try-section .section-title {
    color: var(--section6-title-color);
    width: 50%;
}

.try-section .button-white {
    width: 30%;
    text-align: center;
}
.button-white div {
    background-color: white;
    padding: 10px 30px;
    border: 1px solid black;
}

/* /Members */

/* FAQ */

.faq {
    width: 100%;
    padding: 40px 0;
}

.faq .section-title {
    width: 100%;
    /* debug */
}

.question {
    padding: 3rem 0;
    width: 100%;
    position: relative;
}

.question .pos-a {
    position: absolute;
    right: 5%;
    top: 20%;
    /* transform: translate(-50%, -50%); */
    padding: 2rem;
}

.question:active i {
    transform: rotate(180deg);
    right: 5%;
    top: 20%;
}
/* /FAQ */
/* /MAIN */

/* FOOTER */

footer {
    background-color: black;
    padding: 40px 0;
    color: white;
}
footer .container {
    width: 60%;
    margin: 0 auto;
    position: relative;
}

.footer-row {
    display: flex;
    justify-content: space-between;
    padding-bottom: 3rem;
}

footer .col {
    width: calc(100% / 5 - 10px);
}

.footer-info h2 {
    padding: 1rem 0;
}

.footer-info li {
    padding: .5rem 0;
}
span.language {
    height: 50px;
    width: 150px;
    border-top: 1px solid lightgrey;
    color: lightgray;
    font-weight: 100;
    padding: 3rem 0;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* /FOOTER */
