/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    /* debug */
    height: 100%;
}

a {
    text-decoration: none;
}
/* VAIABLES */
:root {
    --jumbotron-backgroundcolor: #B4D0E7;
    --section5-backgroundcolor: #F5F5F5;
    --section6-title-color: #61082B;
    --frequent-question-txtcolor: #414141;
    --button-color: #4185F4;
}
/* HEADER */

.nav-bar {
    height: 60px;
    /* min-width: 1000px; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    /* debug */
    border: 1px solid red;
    position: fixed;
    z-index: 999;
}

/* left-side */
.nav-bar .left {
    /* debug */
    width: 30%;
    height: 100%;
    border: 1px solid blue;
    display: flex;
    align-items: center;
    text-align: center;
}

.logo {
    width: 40%;
}
.logo img {
    max-width: 100%;
    min-width: fit-content;
}

.navigation {
    /* debug */
    width: 60%;
    height: 100%;
}

.navigation ul {
    display: flex;
}

.left li {
    width: calc(100% / 3);
    /* debug */
    height: 100%;
    border: 1px solid orange;
}

/* right-side */
.nav-bar .right {
    display: flex;
    align-items: center;
    text-align: center;
    /* debug */
    width: 30%;
    height: 100%;
    border: 1px solid blue;
    justify-content: flex-end;
}

.right .navigation {
    width: 80%;
}
.small-button {
    width: 20%;
}
.small-button span {
    padding: 5px;
    width: 100%;
}

.right li {
    width: calc(100% / 3);
    /* debug */
    height: 100%;
    border: 1px solid orange;
}

/* Jumbotron */

.jumbotron {
    background-color: var(--jumbotron-backgroundcolor);
    position: relative;
    /* debug */
    height: 500px;
    padding: 100px 0;
    margin-bottom: 10px;
}

.jumbotron .container {
    width: 70%;
    margin: 0 auto;
    /* debug */
    border: 1px solid black;
    height: 150%;
    position: relative;
}

.title {
    width: 100%;
    /* debug */
    border: 1px solid black;
    height: 40%;
}

.jumbo-text {
    width: 30%;
    /* debug */
    border: 1px solid orange;
    height: 60%;
}

.jumbotron img {
    max-width: 70%;
    position: absolute;
    bottom: 0;
    right: 0;
}
/* /HEADER */

/* MAIN */
main .container {
    width: 60%;
    margin: 0 auto;
    margin-top: 100px;
    /* debug */
    border: 1px solid black;
    /* height: 300vh; */
}

/* Plan-selection */
.plan-selection {
    width: 100%;
    height: 400px;
    /* debug */
    border: 4px solid orangered;
}

.plan-selection .section-title {
    width: 100%;
    height: 20%;
    /* debug */
    border: 3px solid cyan;
}

.plan-selection .option {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* debug */
    height: 80%;    
    border: 3px solid lightgreen;
}

.plan-selection .col {
    width: calc(100% / 3 - 10px);
    /* debug */
    height: 100%;    
    border: 3px solid lightgreen;
}
/* /Plan-selection */

/* Sales-office-contact */
.sales-office-contact {
    height: 200px;
    width: 100%;
    margin: 40px 0;
    /* debug */
    border: 4px solid orangered;
}

.section-name {
    text-align: center;
    height: 30px;
    /* debug */
    border: 4px solid fuchsia;
}

.section-content {
    height: calc(100% - 30px);
    /* debug */
    border: 4px solid rgb(119, 0, 255);
}
/* /Sales-office-contact */

/* Partner section */
.partner-section {
    width: 100%;
    height: 400px;
    display: flex;
    /* debug */
    border: 4px solid orangered;
}

.partner-section .img {
    width: 70%;
    /* debug */
    height: 100%;
    border: 1px solid grey;
}

.partner-section .section-content {
    height: 100%;
    width: 30%;
    /* debug */
    border: 4px solid rgb(17, 204, 120);
}
/* /Partner section */

/* Product-description section */

.product-description {
    margin: 40px 0;
    height: 400px;
    /* debug */
    border: 4px solid orangered;
}

.product-description .section-title {
    width: 100%;
    height: 20%;
    /* debug */
    border: 3px solid cyan;
}

.product-description .option {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    /* debug */
    border: 3px solid  rgb(17, 204, 120);
}

.product-description .col {
    width: calc(100% / 3 - 10px);
    /* debug */
    height: calc(100% / 2 - 10px);
    border: 3px solid  rgb(17, 204, 120);
}
/* /Product-description section */

/* Review */
.customer-review {
    width: 100%;
    margin: 40px 0;
    /* debug */
    height: 100px;
    border: 3px solid orangered;
}
/* /Review */

/* Members */
.members {
    width: 100%;
    height: 300px;
    /* debug */
    border: 3px solid black;
}

.memb-view {
    height: 100%;
    display: flex;
}

.middle {
    width: calc(100% / 3);
    border: 1px solid cornflowerblue;
    height: 100%;
}

.side {
    width: calc(100% / 3);
    border: 1px solid greenyellow;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.side section {
    width: 50%;
    height: 50%;
    border: 1px solid black;
}
/* /Members */

/* /MAIN */